BasedOnStyle: LLVM

IndentWidth: 2
TabWidth: 2
UseTab: Never

ColumnLimit: 100

AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 2

BinPackParameters: false
BinPackArguments: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
BreakBeforeBraces: Attach

SpaceBeforeAssignmentOperators: true

AccessModifierOffset: -4
NamespaceIndentation: None
