BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never

IndentCaseLabels: true

ColumnLimit: 0

AlignAfterOpenBracket: DontAlign
ContinuationIndentWidth: 4

BinPackParameters: false
BinPackArguments: false

AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

PointerAlignment: Left
BreakBeforeBraces: Attach

SpaceBeforeAssignmentOperators: true

AccessModifierOffset: -4
NamespaceIndentation: None
